<div class="dashboard-main-wrapper">
    <aside class="sidebar">
        <!-- sidebar close btn -->
        <button type="button"
            class="sidebar-close-btn text-gray-500 hover-text-white hover-bg-main-600 text-md w-24 h-24 border border-gray-100 hover-border-main-600 d-xl-none d-flex flex-center rounded-circle position-absolute"><i
                class="ph ph-x"></i></button>
        <!-- sidebar close btn -->

        <a (click)="global.setRoute('')"
            class="sidebar__logo text-center p-20 position-sticky inset-block-start-0 bg-white w-100 z-1 pb-10">
            <img src="assets/images/logo/logo.png" alt="Logo">
        </a>

        <div class="sidebar-menu-wrapper overflow-y-auto scroll-sm">
            <div class="p-20 pt-10">
                <ul class="sidebar-menu">
                    <li class="sidebar-menu__item" >
                        <a class="sidebar-menu__link" (click)="global.setRoute('')">
                            <span class="icon"><i class="ph ph-users-three"></i></span>
                            <span class="text">INSTRUCCIONES</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" *ngIf="this.auth.getCurrentUser() && this.auth.getCurrentUser()?.type !== 'admin'">
                        <a (click)="global.setRoute('homedash')" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-house"></i></span>
                            <span class="text">Inicio</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" *ngIf="this.auth.getCurrentUser() && this.auth.getCurrentUser()?.type !== 'admin'">
                        <a (click)="global.setRoute('projects')" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-books"></i></span>
                            <span class="text">Proyectos</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" *ngIf="this.auth.getCurrentUser() && this.auth.getCurrentUser()?.type !== 'admin'">
                        <a (click)="global.setRoute('projects')" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-bookmarks"></i></span>
                            <span class="text">Servicios</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item" *ngIf="this.auth.getCurrentUser() && this.auth.getCurrentUser()?.type !== 'admin'">
                        <a (click)="global.setRoute('projects')" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-plus"></i></span>
                            <span class="text">Recursos</span>
                        </a>
                    </li>

                    <!-- 
                    
                    <li class="sidebar-menu__item">
                        <a href="mentors.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-users"></i></span>
                            <span class="text">Mentors</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="resources.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-bookmarks"></i></span>
                            <span class="text">Resources</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="message.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-chats-teardrop"></i></span>
                            <span class="text">Messages</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="analytics.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-chart-bar"></i></span>
                            <span class="text">Analytics</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="event.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-calendar-dots"></i></span>
                            <span class="text">Events</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="library.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-books"></i></span>
                            <span class="text">Library</span>
                        </a>
                    </li>
                    <li class="sidebar-menu__item">
                        <a href="pricing-plan.html" class="sidebar-menu__link">
                            <span class="icon"><i class="ph ph-coins"></i></span>
                            <span class="text">Pricing</span>
                        </a>
                    </li> -->

                    
                </ul>
            </div>
        </div>

    </aside>
</div>