<div class="dashboard-main-wrapper">
   

    <div class="dashboard-body">
        <div class="row gy-4">
            <div class="col-lg-12">
                <!-- Grettings Box Start -->
                <div
                    class="grettings-box position-relative rounded-16 bg-main-600 overflow-hidden gap-16 flex-wrap z-1">
                    <img src="assets/images/bg/grettings-pattern.png" alt=""
                        class="position-absolute inset-block-start-0 inset-inline-start-0 z-n1 w-100 h-100 opacity-6">
                    <div class="row gy-4">
                        <div class="col-sm-7">
                            <div class="grettings-box__content py-xl-4">
                                <h2 class="text-white mb-0">Bienvenido a Espatium Arquitectos</h2>
                                <p class="text-15 fw-light mt-4 text-white">Descubre el costo ideal para tu proyecto
                                    sostenible</p>
                                <p class="text-lg fw-light mt-24 text-white">Configura las características de tu
                                    construcción y obtén una estimación rápida</p>
                            </div>

                        </div>
                        <div class="col-sm-5 d-sm-block d-none">
                            <div class="text-center h-100 d-flex justify-content-center align-items-end ">
                                <img src="assets/images/thumbs/gretting-img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Grettings Box End -->
            </div>
        </div>
    </div>
    <div class="dashboard-body">



        <!-- Create Course Step List Start -->
        <ul class="step-list mb-24">
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  active">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Datos Generales
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Sección de Habitaciones y Áreas
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Complementos y Circulación
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Espacios sin Techo
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Acabados de Construcción
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Albercas
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Costos y Precios
                <span class="line position-relative"></span>
            </li>
            <li class="step-list__item py-15 px-24 text-15 text-heading fw-medium flex-center gap-6  ">
                <span class="icon text-xl d-flex"><i class="ph ph-circle"></i></span>
                Total del Proyecto
                <span class="line position-relative"></span>
            </li>
        </ul>
        <!-- Create Course Step List End -->

        <!-- Course Tab Start -->
        <div class="card">
            <div class="card-header border-bottom border-gray-100 flex-align gap-8">
                <h5 class="mb-0">Course Details</h5>
                <button type="button" class="text-main-600 text-md d-flex" data-bs-toggle="tooltip"
                    data-bs-placement="top" data-bs-title="Course Details">
                    <i class="ph-fill ph-question"></i>
                </button>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row gy-20">
                        <!-- CLIENTE -->
                        <div class="col-sm-6">
                            <label for="clientName" class="h5 fw-semibold font-heading mb-0">Nombre del Cliente <span class="text-13 text-gray-400 fw-medium">(Requerido)</span></label>
                            <input type="text" id="clientName" class="form-control py-11" placeholder="Ingrese nombre completo">
                        </div>
                        <div class="col-sm-6">
                            <label for="clientContact" class="h5 fw-semibold font-heading mb-0">Información de Contacto <span class="text-13 text-gray-400 fw-medium">(Requerido)</span></label>
                            <input type="text" id="clientContact" class="form-control py-11" placeholder="Correo o teléfono">
                        </div>
                    
                        <!-- DIRECCIÓN -->
                        <div class="col-sm-6">
                            <label for="projectAddress" class="h5 fw-semibold font-heading mb-0">Dirección del Proyecto <span class="text-13 text-gray-400 fw-medium">(Requerido)</span></label>
                            <input type="text" id="projectAddress" class="form-control py-11" placeholder="Ingrese la dirección">
                        </div>
                        <div class="col-sm-6">
                            <label for="projectCity" class="h5 fw-semibold font-heading mb-0">Ciudad y Estado <span class="text-13 text-gray-400 fw-medium">(Requerido)</span></label>
                            <input type="text" id="projectCity" class="form-control py-11" placeholder="Ciudad y estado/provincia">
                        </div>
                    
                        <!-- THUMBNAIL IMAGEN -->
                       <!--  <div class="col-xxl-3 col-md-4 col-sm-5">
                            <div class="mb-20">
                                <label class="h5 fw-semibold font-heading mb-0">Imagen Miniatura del Proyecto <span class="text-13 text-gray-400 fw-medium">(Opcional)</span></label>
                            </div>
                            <div id="fileUpload" class="fileUpload image-upload"></div>
                        </div> -->
                        <div class="flex-align justify-content-end gap-8">
                            <a  class="btn btn-outline-main rounded-pill py-9">Cancel</a>
                            <a  class="btn btn-main rounded-pill py-9">Continue</a>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- Course Tab End -->
    </div>
</div>